.news-detail {
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
}

.news-banner {
  height: 300px;
}

@media screen and (width >= 800px) {
  .news-detail-info {
    display: flex;

    & > div:not(:last-child)::after {
      padding: 0px 10px;
      content: "/";
    }
  }
}

/*
@media screen and (width < 800px) {
} */
